# Dependências gigantes
node_modules/
__pycache__/
*.pyc
venv/

# Sessões e Autenticação
.wwebjs_auth/
.wwebjs_cache/
.wwebjs_auth_media/
session-sessao-media/

# Credenciai, Configurações Pessoais, logs, etc...
files/*.log
files/*.json
files/sticker_pronto.webp
files/sticker_id.txt
files/config.txt
files/vendedores.csv
files/vendedores enc.csv
files/historico_concluidos.csv


# Arquivos do sistema
.DS_Store
Thumbs.db